.footer-widget p {
  margin-bottom: 1.5rem;
}

.animate-border {
  position: relative;
  display: block;
  width: 7.188rem;
  height: 0.25rem;
  background: #007bff;
}

.animate-border:after {
  position: absolute;
  content: "";
  width: 2.25rem;
  height: 0.25rem;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

.animate-border.border-white:after {
  border-color: #fff;
}

.animate-border.border-yellow:after {
  border-color: #F5B02E;
}

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff;
}

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%;
  }

  50% {
    width: 90%;
  }

  100% {
    width: 10%;
  }
}

@keyframes primary-long {
  0% {
    width: 80%;
  }

  50% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.footer-wrapper {
  padding: 4.688rem 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2;
}

.footer-wrapper .contact-us {
  margin-top: 0;
  margin-top: 1.875rem;
}

.footer-wrapper .contact-icon i {
  font-size: 1.5rem;
  top: -15px;
  position: relative;
  color: #007bff;
}

.footer-wrapper-box-info {
  position: absolute;
  top: -122px;
  background: #202020;
  padding: 40px;
  z-index: 2;
}

.footer-wrapper-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.footer-wrapper-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-wrapper-box-info .footer-social-link li {
  display: inline-block;
}

.footer-awarad p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
}

.footer-info-text {
  margin: 1.5rem 0 2rem;
}

.footer-widget .section-heading {
  margin-bottom: 2.25rem;
}

.footer-widget h3 {
  font-size: 1.5rem;
  color: #fff;
  position: relative;
  margin-bottom: 1rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-widget li {
  margin-bottom: 18px;
  font-size: 1rem;
}

.footer-widget p {
  margin-bottom: 27px;
}

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-widget a:hover {
  color: #007bff;
}

.footer-widget:after {
  content: "";
  display: block;
  clear: both;
}

.footer-wrapper-form {
  position: relative;
}

.footer-wrapper-form button:hover {
  cursor: pointer;
}

.contact-icon {
  position: absolute;
}

.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #007bff;
}

.contact-info {
  color: #fff;
}

.contact-info h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020;
}

.copyright span {
  display: block;
}

.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.copyright a:hover {
  color: #007bff;
}

.copyright-menu ul {
  text-align: right;
  margin: 0;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 1.25px;
}

@media (max-width: 767px) {

  .copyright span,
  .copyright a {
    color: #878787;
    transition: all 0.3s linear;
    text-align: center;
  }

  .copyright-menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}